{% extends 'base.html' %}
{% load static %}
{% load icons %}

{% block content %}
    <div class="container text-center" style="height: 20vh;">
        <a href="{% url 'locais' %}">
          <button type="button" class="btn btn-primary btn-rounded btn-lg w-100 h-100 d-flex align-items-center">
            <i class="fa-solid fa-location-dot fs-1"></i>
            <h2 class="ms-3">Encontre unidades de saúde próximas</h2>
          </button>
        </a>
        
    </div>

    <div class="container mt-4 d-flex align-items-center justify-content-center">
        <div class="row mt-4">
                <div class="col-12 col-md-6">
                    <h4>O que você gostaria de fazer?</h4>
                    <ul class="list-unstyled mt-4 ">
                        <li><a href="{% url 'marcar_consulta' %}" class="text-dark text-decoration-none fs-5"><i class="fas fa-calendar-check"></i>Marcar consulta</a> </li>
                        <li><a href="{% url 'consultar_exames' %}" class="text-dark text-decoration-none fs-5"><i class="fas fa-file-medical-alt"></i> Consultar resultados de exames</a></li>
                        <li><a href="{% url 'carteira_vacinacao' %}" class="text-dark text-decoration-none fs-5"><i class="fas fa-syringe"></i> Ver carteira de vacinação</a></li>
                        <li><a href="{% url 'consultar_calendario' %}" class="text-dark text-decoration-none fs-5"><i class="fas fa-calendar-alt"></i> Ver seu calendário da saúde</a></li>
                    </ul>
                </div>
                <div class="text-center mt-4 col-12 col-md-6">
                  <a href="{% url 'eventos_saude' %}" 
                     class="text-decoration-none text-primary fw-bold fs-5">
                     <i class="fas fa-calendar-day me-2"></i> 
                     Acessar todos os eventos
                  </a>
                </div>
        </div>
    </div>
    
{% endblock %}