{% extends 'base.html' %}
{% load static %}
{% load icons %}

{% block content %}
    <div class="container text-center" style="height: 20vh;">
        <a href="{% url 'locais' %}">
          <button type="button" class="btn btn-primary btn-rounded btn-lg w-100 h-100 d-flex align-items-center">
            <i class="fa-solid fa-location-dot fs-1"></i>
            <h2 class="ms-3">Encontre unidades de saúde próximas</h2>
          </button>
        </a>
        
    </div>

    <div class="container mt-4">
        <div class="row mt-4">
                <div class="col-12 col-md-6">
                    <h4>O que você gostaria de fazer?</h4>
                    <ul class="list-unstyled mt-4 ">
                        <li><a href="{% url 'marcar_consulta' %}" class="text-dark text-decoration-none fs-5"><i class="fas fa-calendar-check"></i>Marcar consulta</a> </li>
                        <li><a href="{% url 'consultar_exames' %}" class="text-dark text-decoration-none fs-5"><i class="fas fa-file-medical-alt"></i> Consultar resultados de exames</a></li>
                        <li><a href="#" class="text-dark text-decoration-none fs-5"><i class="fas fa-syringe"></i> Ver carteira de vacinação</a></li>
                        <li><a href="{% url 'consultar_calendario' %}" class="text-dark text-decoration-none fs-5"><i class="fas fa-calendar-alt"></i> Ver seu calendário da saúde</a></li>
                    </ul>
                </div>
                <div class="col-12 col-md-6 h-50 d-flex flex-column justify-content-center text-center">
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            Campanha de vacinação - Outubro
                          </div>
                          <div class="carousel-item">
                            Dia Mundial da Saúde - Evento online
                          </div>
                          <div class="carousel-item">
                            Novos horários de atendimento
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                    <div class="text-center mt-2">
                        <a href="#" class="text-primary">Acessar todos os eventos</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}